@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg: #e2e4eb;
    --bgSoft: #bfc2cc;
    --text: #0f0f0f;
    --textSoft: #686a70;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--bg);
    color: var(--text);
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }